
    .right {
      flex: 1;
      width: 1000px;
      background: linear-gradient(135deg, #0D1B2A, #1B263B, #0F2027);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #E0E0E0;
    }
    .register-box {
      background: rgba(255,255,255,0.05);
      width: 1000px;
      padding: 40px;
      border-radius: 15px;
      width: 350px;
      text-align: center;
      box-shadow: 0 0 20px rgba(0,191,165,0.2);
    }
    .register-box h2 {color: #00BFA5; margin-bottom: 10px;}
    .register-box p {font-size: 14px; margin-bottom: 25px; color: #aaa;}
    .register-box input {
      width: 100%; padding: 12px; margin: 10px 0;
      border: 1px solid #444; border-radius: 8px;
      background: rgba(255,255,255,0.1); color: white;
    }
    .register-box button {
      width: 100%; padding: 12px; margin-top: 15px;
      background: #2979FF; border: none; border-radius: 8px;
      color: white; font-size: 16px; cursor: pointer;
      transition: 0.3s; box-shadow: 0 0 15px #2979FF;
    }
    .register-box button:hover {
      background: #00BFA5; box-shadow: 0 0 20px #00BFA5;
    }
    .links {margin-top: 20px; font-size: 13px;}
    .links a {color: #00BFA5; text-decoration: none;}
    .links a:hover {text-decoration: underline;}